.u-sp-d {
  display: block;

  @include mq {
    display: none;
  }
}

.u-tablet-d {
  display: none;

  @include mq {
    display: block;
  }
}

.u-sp-tablet-d {
  display: block;

  @include mq(medium) {
    display: none;
  }
}

.u-sp-pc-d {
  display: block;

  @include mq {
    display: none;
  }

  @include mq(medium) {
    display: block;
  }
}

.u-pc-d {
  display: none;

  @include mq(medium) {
    display: block;
  }
}
