.m-card-info {
  @include clearfix;

  .a-label {
    position: relative;
    float: left;
    margin-right: 10px;

    @include mq {
      margin-right: 16px;
    }

    @include mq(medium) {
      margin-right: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      right: -8px;
      top: 3px;
      background-color: $line-color;
      height: 15px;
      width: 1px;

      display: none;

      @include mq {
        right: -15px;
      }

      @include mq(medium) {
        right: -18px;
      }
    }
  }

  .a-counter {
    float: left;
    padding: 1px 0 2px;
  }

  .a-link {
    display: inline-block;
    float: left;
    padding: 1px 0 2px;
    margin-left: 16px;

    @include mq {
      margin-left: 20px;
    }

    @include mq(medium) {
      margin-left: 25px;
    }
  }

  .a-date {
    padding: 1px 0 2px;
  }
}
