.m-list-heading {
  position: relative;

  &__jp {
    font-size: 15px;
    font-weight: bold;
  }

  &__en {
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translate(0, 50%);
  }

  &__seemore {
    display: none;
  }

  @include mq {
    &__jp {
      font-size: 18px;
    }

    &__en {
      svg {
        height: 30px;
        width: auto;
      }
    }

    &__seemore {
      display: block;
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translate(0, 50%);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
