.m-sub-kv {
  &__image {
    &-inner {
      position: relative;
      padding-top: 46.666666%;
      overflow: hidden;

      img {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        width: 100%;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    width: calc(100% - 40px);
    padding: 24px 30px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    background-color: $base-background-color;

    @include mq {
      width: calc(100% - 120px);
      padding: 36px 30px;
    }

    .neon {
      display: block;
      margin: 0 auto;

      @include mq {
        height: 23px;
        width: auto;
      }
    }
  }

  &__title {
    display: block;
    margin: 14px 0;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;

    @include mq {
      font-size: 20px;
    }
  }

  .m-card-info {
    width: 230px;
    margin: 0 auto;

    @include mq {
      width: 302px;
    }
  }
}
