.m-share-btn-list {
  @include clearfix;
  width: 208px;
  margin: 0 auto;

  &__item {
    float: left;

    & + li {
      margin-left: 16px;
    }
  }
}

.m-share-btn-area {
  &__heading {
    margin-bottom: 6px;
    text-align: center;
  }
}
