.t-2column {
  @include mq(medium) {
    @include inner;
    padding-top: 90px;
    padding-bottom: 100px;

    .t-contents__inner {
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;

      &.t-2column__main {
        padding-top: 15px;

        .m-card {
          &__image {
            width: 260px;
          }

          &--row {
            .m-card__text {
              width: calc(100% - 300px);
            }
          }
        }

        .a-btn--large {
          max-width: 304px;
          margin-top: 50px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .o-card-list {
        padding-top: 60px;
      }
    }

    &--2 {
      .banner {
        margin-bottom: 50px;
      }

      .t-2column__main {
        .m-card {
          &__image {
            width: 260px;
          }

          &--row {
            .m-card__text {
              width: calc(100% - 300px);
            }
          }
        }
      }

      .t-2column__side {
        .margin1 {
          padding-bottom: 0;
        }
      }
    }

    .o-card-list, .o-card-list-box {
        padding-left: 0;
        padding-right: 0;
      }

    &__inner {
      @include inner-block;
      @include clearfix;
    }

    &__main {
      float: left;
      width: calc(100% - 330px);
      padding-right: 70px;
      margin-right: 70px;
      background-image: url('#{$img-path}text-border.svg');
      background-position: top right;
      background-repeat: repeat-y;

      .o-card-list--row {
        .list {
          margin-top: 0;
        }
      }
    }

    &__side {
      float: right;

      &.o-card-list--set {
        padding-top: 15px;
        background-color: transparent;

        .m-list-heading, .m-card__title, .a-counter {
          color: $base-font-color;
        }

        .a-label {
          display: none;
        }

        .a-btn--medium {
          color: $base-font-color;

          &::after {
            display: block;
          }
        }
      }

      &-inner {
        width: 260px;

        .o-card-list--square {
          padding-bottom: 0;

          & + div {
            margin-top: 50px;
          }

          .list {
            .item {
              .m-card-info {
                .a-label {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
