.a-button-seemore {
  border: 1px solid $gray40;
  border-radius: $base-border-radius;
  color: $black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  max-width: 360px;
  padding: 8px;
  width: 100%;

  svg {
    margin-right: 8px;
    vertical-align: middle;
  }
}
