.a-your-answer {
  background-color: $color-key-a-bg1;
  border: 2px solid $color-key-a;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  padding: 0 6px;
}
.b-your-answer {
  background-color: $color-key-b-bg1;
  border: 2px solid $color-key-b;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  padding: 0 6px;
}
