.o-answering-form {
  padding: 40px 20px;
  border-radius: 8px;
  background-image: url('#{$img-path}bg_chart_sp.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  @include mq {
    padding: 60px 40px;
  }

  .m-step {
    width: 155px;
    margin: 0 auto 12px;

    @include mq {
      margin-bottom: 20px;
    }
  }

  &__question {
    display: none;

    &.is-active {
      display: block;
    }

    &--step1 {
      .o-answering-form-btn-list {
        &__item {
          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }

    &--step2 {
      .o-answering-form-btn-list {
        @include clearfix;

        &__item {
          float: left;
          width: calc((100% - 12px) / 2);
          margin-bottom: 12px;

          &:first-child {
            margin-right: 12px;
          }

          &:last-child {
            clear: both;
            float: none;
            margin: 0 auto;
          }
        }
      }
    }

    &--step3-1 {
      .o-answering-form-btn-list {
        margin-bottom: -12px;

        &__item {
          float: left;
          width: calc((100% - 24px) / 3);
          margin: 0 0 12px 12px;

          &:nth-of-type(3n+1) {
            margin-left: 0;
          }
        }
      }
    }

    &--step3-2 {
      .o-answering-form-btn-list {
        &__item {
          float: left;
          width: calc((100% - 12px) / 2);

          &:first-child {
            margin-right: 12px;
          }
        }
      }
    }
  }

  &__heading {
    margin-bottom: 3px;
    font-weight: bold;

    @include mq {
      margin-bottom: 8px;
      font-size: 20px;
    }
  }

  &__desc {
    margin-bottom: 18px;
    font-size: 13px;
    line-height: 1.5;

    @include mq {
      margin-bottom: 30px;
      font-size: 16px;
    }
  }

  &__label {
    margin-bottom: 15px;
    text-align: center;

    &-inner {
      display: inline-block;
      padding: 0 6px;
      border: 1px solid $gray20;
      border-radius: 3px;
      background-color: $base-background-color;
      font-size: 12px;
      font-weight: bold;
    }
  }

  &-btn-list {
    @include clearfix;

    &__item {
      .a-btn-round {
        box-shadow: 0 2px 15px 0 rgba(0,0,0,0.20);
      }
    }
  }
}
