.o-card-list {
  @include inner;

  .m-list-heading {
    margin-bottom: 18px;
  }

  &__inner {
    @include mq(medium) {
      @include inner-block;
      padding-top: 100px;
      padding-bottom: 130px;
    }
  }

  &--kv {
    @include mq(medium) {
      @include inner;
      padding-top: 40px;
      padding-bottom: 40px;
      background-image: linear-gradient(to right, $gray40, $gray40 1px, transparent 1px, transparent 4px);
      background-size: 5px 1px;
      background-position: bottom;
      background-repeat: repeat-x;

      &__inner {
        @include inner-block

        .list {
          @include clearfix;

          .item {
            float: left;
            // width: calc((100% - 80px) / 3.001);
            width: calc((100% * 0.33333) - (80px * 0.33333));

            & + li {
              margin-left: 40px;
            }

            &:nth-of-type(2) {
              .m-card--square {
                .m-card__title {
                  &::after {
                    background-color: $green;
                  }
                }
              }
            }

            .m-card--square {
              .m-card__image {
                width: calc(100% / 3);
                margin-right: 25px;

                &-inner {
                  padding-top: 71.666666%;
                }
              }

              .m-card__text {
                width: calc(((100% / 3) * 2) - 25px);
              }

              .m-card__title {
                position: relative;
                margin-bottom: 27px;

                &::after {
                  content: '';
                  position: absolute;
                  bottom: -13px;
                  left: 0;
                  width: 15px;
                  height: 2px;
                  background-color: $pink;
                }
              }
            }
          }
        }
      }
    }
  }

  &--split {
    @include mq(medium) {
      margin-top: 80px;

      &__inner {
        @include inner-block;

        .list {
          @include clearfix;
          .item {
            float: right;
            width: calc((100% - 65px) / 2);

            &:first-child {
              float: left;
            }

            .m-card--column {
              .m-card__image {
                &-inner {
                  position: relative;
                  padding-top: calc((455 / 548) * 100%);

                  &::after {
                    content: '' ;
                    position: absolute;
                    bottom: 50%;
                    right: 50%;
                    transform: translate(50%, 50%);
                    width: 100.5%;
                    height: 100.5%;
                    background-image: url('#{$img-path}split-image-mask.svg');
                    background-size: cover;
                  }

                  // img {
                  //   width: auto;
                  //   max-width: none;
                  //   height: 100%;
                  // }
                }
              }

              .m-card__text {
                margin-top: -15px;
              }

              .m-card__title {
                padding-bottom: 0;
                margin-top: 5px;
                margin-bottom: 20px;
                background: none;
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }

  &--row {
    .list {
      margin: 25px 0;

      @include mq {
        margin: 40px 0;
      }

      .item {
        & + li {
          margin-top: 25px;

          @include mq {
            margin-top: 40px;
          }

          @include mq(medium) {
            margin-top: 50px;
          }
        }
      }
    }
  }

  &--square {
    @include inner;
    padding-top: 34px;
    padding-bottom: 40px;

    .list {
      margin: 0;

      .item {
        & + li {
          @include mq {
            margin-top: 25px;
          }
        }
      }

      & + .a-btn--right-arrow {
        margin-top: 20px;
      }
    }
  }

  &--slide {
    @include inner;
    padding-top: 34px;
    padding-bottom: 50px;

    @include mq(medium) {
      padding-top: 100px;
      padding-bottom: 130px;
    }

    .slide-inner {
      @include mq(medium) {
        @include inner-block;
      }
    }

    .slide-wrapper {
      width: calc(100% + 20px);
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      // white-space: nowrap;

      @include mq {
        width: calc(100% + 60px);
      }

      @include mq(medium) {
        width: 100%;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .list {
      @include clearfix;
      width: calc(300% - 60px);

      @include mq {
        width: calc(300% - 100px);
      }

      @include mq(medium) {
        width: 100%;
      }
    }

    .item {
      float: left;
      width: calc(100% / 6 - 14px);
      margin-right: 14px;

      @include mq {
        width: calc(100% / 6 - 25px);
        margin-right: 25px;
      }

      @include mq(medium) {
        width: calc((100% - 120px) / 4.0001);
        margin-right: 0;

        & + li {
          margin-left: 40px;
        }
      }

      &:nth-of-type(5), &:nth-of-type(6) {
        @include mq(medium) {
          display: none;
        }
      }
    }

    .a-link--arrow {
      display: none;

      @include mq {
        display: inline-block;
        color: $base-background-color;
      }
    }

    .m-list-heading {
      @include mq(medium) {
        margin-bottom: 45px;
      }
    }

    .m-list-heading__jp {
      @include mq(medium) {
        padding-left: 170px;
        font-size: 22px;
      }
    }

    .m-list-heading__en {
      @include mq(medium) {
        right: auto;
        left: 0;
        padding-top: 5px;
      }
    }

    .m-card {
      @include mq(medium) {
        &__image {
          margin-bottom: 18px;
        }

        &__image-inner {
          padding-top: 100%;

          // img {
          //   width: auto;
          //   height: 100%;
          //   max-width: none;
          // }
        }

        &__title {
          padding-bottom: 0;
          margin-bottom: 12px;
          background-image: none;
          font-size: 15px;
          line-height: 23px;
        }

        &-info {
          .a-link--arrow {
            display: none;
          }
        }
      }
    }
  }

  &--black {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('#{$img-path}bg_marble1_sp.png');

    @include mq(medium) {
      background-image: url('#{$img-path}bg_marble1_pc.png');
    }

    .m-list-heading, .m-card__title, .a-counter {
      color: $base-background-color;
    }

    .a-btn--medium {
      color: $base-background-color;

      &::after {
        display: none;
      }
    }
  }

  &--set {
    &.o-card-list--black {
      background-image: none;
      background-color: $base-font-color;
    }

    .m-list-heading {
      &:not(:nth-of-type(1)) {
        margin-top: 40px;
      }
    }
  }
}
