.o-pagetitle {
  @include inner;
  padding-top: 20px;
  padding-bottom: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('#{$img-path}bg_marble2_sp.png');

  @include mq {
    padding-top: 95px;
    padding-bottom: 40px;
  }

  @include mq(medium) {
    padding-top: 150px;
    padding-bottom: 70px;
  }

  &-article {
    .o-pagetitle {
      &__inner {
        @include mq(medium) {
          max-width: 800px;
        }
      }
    }
  }

  &__inner {
    @include inner-block;
    @include clearfix;
  }

  &__title {
    color: $base-background-color;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;

    @include mq {
      font-size: 26px;
    }

    @include mq(medium) {
      float: left;
      max-width: 800px;
      font-size: 32px;
      line-height: 1.5;
    }

    .thin {
      font-weight: normal;
    }
  }

  &__supp {
    color: $gray30;
    font-size: 12px;

    @include mq(medium) {
      float: left;
      padding-left: 30px;
      border-left: 1px solid rgba(255, 255, 255, .5);
      margin-top: 13px;
      margin-left: 30px;
      font-size: 16px;
    }
  }

  .m-card-info {
    margin-top: 10px;

    @include mq(medium) {
      clear: both;
      padding-top: 20px;
    }

    .a-counter {
      color: $gray30;

      @include mq(medium) {
        font-size: 13px;
      }
    }

    .a-date {
      float: left;
      margin-left: 15px;

      @include mq(medium) {
        font-size: 13px;
      }
    }
  }
}
