.a-link {
  &--arrow {
    font-size: 11px;
    font-weight: bold;

    @include mq {
      font-size: 13px;
    }

    svg {
      margin-right: 5px;

      @include mq {
        width: 7px;
        height: 12px;
      }
    }
  }

  &--pink-arrow {
    .variable-fill {
      fill: $pink;
    }
  }

  &--green-arrow {
    .variable-fill {
      fill: $green;
    }
  }
}
