.a-label {
  display: inline-block;
  border-radius: 2px;
  padding: 0 4px 1px;
  color: $base-font-color;
  font-size: 11px;
  font-weight: bold;

  @include mq {
    font-size: 12px;
  }

  @include mq(medium) {
    padding: 1px 8px;
  }

  &--sex {
    svg {
      margin-right: 2px;
      vertical-align: -3px;

      @include mq(medium) {
        width: 8px;
        height: 15px;
        margin-right: 4px;
      }
    }
  }

  &--woman {
    background-color: $woman-color;
  }

  &--man {
    background-color: $man-color;
  }
 
  &--no-jender {
    background-color: $no-jender-color;
  }
}
