.a-selectbox {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid $line-color;
  border-radius: 3px;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 14px;

  @include mq(medium) {
    padding: 12px 15px;
  }
}

.selectbox-wrapper {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 16px;
    right: 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0;
    border-color: $pink transparent transparent;
    pointer-events: none;

    @include mq(medium) {
      top: 20px;
    }
  }

  &--green {
    &::after {
      border-color: $green transparent transparent;
    }
  }
}
