.p-category-list {
  .a-heading {
    margin: 45px 0 22px;

    &:first-child {
      margin-top: 0;
    }
  }

  &-btn-list {
    @include clearfix;

    &__item {
      float: left;

      .a-btn--right-arrow {
        .arrow {
          right: 20px;
        }

        @include mq(medium) {
          font-size: 16px;
        }
      }
    }

    &--2columns {
      margin-bottom: -10px;

      .p-category-list-btn-list__item {
        width: calc((100% - 12px) / 2);
        margin-bottom: 10px;

        @include mq {
          width: calc((100% - 18px) / 2);
          margin-bottom: 18px;
        }

        @include mq(medium) {
          width: calc((100% - 30px) / 2);
        }

        &:nth-of-type(even) {
          margin-left: 12px;

          @include mq {
            margin-left: 18px;
          }

          @include mq(medium) {
            margin-left: 30px;
          }
        }
      }
    }

    &--3columns {
      .p-category-list-btn-list__item {
        width: calc((100% - 24px) / 3);

        @include mq {
          width: calc((100% - 36px) / 3);
        }

        @include mq(medium) {
          width: calc((100% - 60px) / 3);
        }

        & + li {
          margin-left: 12px;

          @include mq {
            margin-left: 18px;
          }

          @include mq(medium) {
            margin-left: 30px;
          }
        }
      }
    }
  }
}
