.p-index {
  @include mq(medium) {
    .t-contents {
      background-image: url('#{$img-path}bg_rectangle1.svg');
      background-repeat: no-repeat;
      background-position: left 1280px;
    }
  }

  @include mq(medium) {
    .t-2column--2 {
      background-image: url('#{$img-path}bg_rectangle2.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .m-kv {
    padding-bottom: 25px;
    background-image: linear-gradient(to right, $gray40, $gray40 1px, transparent 1px, transparent 4px);
    background-size: 5px 1px;
    background-position: bottom;
    background-repeat: repeat-x;

    @include mq {
      padding-bottom: 36px;
    }

    @include mq(medium) {
      padding-bottom: 0;
    }
  }

  .o-card-list--row {
    &:not(.o-card-list--square) {
      .list {
        margin-bottom: 40px;

        @include mq {
          margin-bottom: 60px;
        }

        @include mq(medium) {
          margin-bottom: 0;
        }
      }
    }
  }

  .o-card-list-box {
    @media screen and (min-width: #{map-get($mq-breakpoints, 'small')}) and (max-width: #{map-get($mq-breakpoints, 'medium')}) {
      @include clearfix;
      @include inner;
      margin: 65px 0;

      .o-card-list--square {
        float: left;
        width: calc(50% - 20px);
        padding: 0;

        &:first-child {
          margin-right: 40px;
        }
      }
    }

    @include mq(medium) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .o-card-list--square {
    padding-top: 0;
  }

  .m-sub-kv {
    @include mq(medium) {
      display: none;
    }
  }

  .m-sub-kv__text {
    padding-bottom: 18px;

    @include mq {
      padding-bottom: 24px;
    }
  }

  .margin1 {
    @include mq {
      padding-top: 25px;
      padding-bottom: 65px;
    }
  }

  &-about {
    padding-top: calc((305 / 375) * 50%);
    padding-left: 40px;
    margin-bottom: 60px;
    background-image: url('#{$img-path}img_about_sp.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;

    @include mq {
      padding-left: 60px;
    }

    @include mq(medium) {
      position: relative;
      padding-top: 700px;
      margin-bottom: 290px;
      background-image: url('#{$img-path}img_about_pc.png');
    }

    &__inner {
      position: relative;
      padding: 60px 40px 70px;
      // background-image: url('#{$img-path}bg_noise2_sp.png');
      // background-position: center center;
      // background-repeat: no-repeat;
      // background-size: cover;
      background-color: $base-font-color;

      @include mq {
        padding: 60px 85px 70px;
      }

      @include mq(medium) {
        position: absolute;
        bottom: -190px;
        right: 0;
        min-width: 900px;
        padding: 120px 165px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 40px;
        right: 40px;
        width: 140px;
        height: 105px;
        background-image: url('#{$img-path}logo-symbol--black.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 140px;

        @include mq {
          top: 140px;
          right: 180px;
        }

        @include mq(medium) {
          top: 110px;
          right: 160px;
          width: 320px;
          height: 242px;
          background-size: 320px;
        }
      }
    }

    &__contents {
      position: relative;
    }

    &__heading {
      svg {
        @include mq(medium) {
          height: 55px;
          width: auto;
        }
      }

      svg {
        @include mq(medium) {
          height: 40px;
        }
      }
    }

    &__desc {
      margin: 5px 0 25px;
      color: $base-background-color;
      font-size: 12px;
      line-height: 2;

      @include mq {
        font-size: 18px;
      }
    }

    .a-btn--large {
      color: $base-background-color;

      @include mq {
        width: 320px;
      }

      .arrow {
        bottom: calc(50% - 12px);
      }

      &::after {
        background-color: $base-font-color;
      }
    }
  }
}
