.p-terms {
  .a-ol {
    &__item {
      .a-ol {
        &__item {
          margin-left: 1.55em;
          text-indent: -1.55em;

          &::before {
            content: '';
          }

          &.more-indent--terms {
            margin-left: 2.1em;
            text-indent: -2.1em;
          }
        }
      }
    }
  }
}
